! PBEh-3c Opt RIJONX CPCM(Water)
%maxcore 1800
%pal nprocs 4 end
%geom
  TolMaxG 1e-4
end
%ibo
  IBO true
end
%plots
  dim1 80
  dim2 80
  dim3 80
  Format Gaussian_Cube
end
* xyzfile 1 1 {{XYZ_FILE}}
